body {
    font-family: 'Roboto';
    font-weight: 300;
    background-color: #272727;
}

.timeContainer span {
    display: block;
}

.timeContainer {
    color: #fff;
}

.time {
    font-size: 72px;
}

.main-container {
    margin-top: 20%;
}

.btn {
    background: #2BA0A0;
    color: #fff;
}

.messages {
    margin-top: 15px;
}

.controls {
    margin-top: 10px;
}
